.slot {
    max-width: 400px;
    background-image: url('src/img/T_Rect.png');
    height: 40px;
    max-height: 40px;
    display: flex;
    visibility: visible;  
    flex-direction: column;
    opacity: 0.5;
}

.slotDecContainer {
    width: 400px;
}

.slotDecContainer + .slotDecContainer {
    margin-top: auto;
}

.slotDecBl, .slotDecBr, 
.slotDecTl, .slotDecTr {
    height: 10px;
    width: 10px;
}

.slotDecTl {
    background-image: url('src/img/T_Top_Left.png');
    float: left;
}

.slotDecTr {
    background-image: url('src/img/T_Top_Right.png');
    float: right;
}

.slotDecBl {
    background-image: url('src/img/T_Bottom_Left.png');
    float: left;
}

.slotDecBr {
    background-image: url('src/img/T_Bottom_Right.png');
    float: right;
}

.slot.filled {
    visibility: hidden;
    border: none;
}