#root {
  background-image: url("/assets/D2_StartScreen_01_4k_fullHD.png");
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 1920px 1080px; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
  text-align: center;
  position: relative;
  word-spacing: 1px;
}

body {
  margin: 0;  
}