.decContainer + .searchPlayerInput,
.searchPlayerInput + .availablePlayers,
.availablePlayers + .addPlayer,
.addPlayer + .playerBaseInput,
.teamA + .avgKd, .teamB + .avgKd {
    margin-top: 4px;
}

.team + .team {
    margin-left: 50px;
}

.playerRow + .playerRow {
    margin-top: 8px;
}

li + li {
    margin-top: 8px;
}

.textH2 {
    color: rgba(17, 34, 62, 0.6);
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    
}

.kdDifferenceDisplayError {
    color: red;
}

.team {
    /* height: 480px; */
    width: 400px;
    /* background-color: #A77373; */
    padding: 0;
    margin-top: 0;
}

.teamWrapper {
    display: flex;
    /* background-image: url("fullhd.png"); */
    background-attachment: fixed;
    background-position: center;
}

.team + .team {
    margin-left: 50px;
}

.teams {
    margin-left: 100px;
}

.wrapper {
    display: flex;
}

.toolsBtnContainer {
    display: inline;
    position: relative;
}

.radioBtnDec {
    position: absolute;
    display: flex;
    width: 80px;
    max-height: 80px;
    /* background-color: red; */
    backdrop-filter: blur(0.5px);
    top: 0px;
    border-top: 0px solid rgb(255, 255, 255);
}

.toolsBtnWrapper + .toolsBtnWrapper,
.toolsBtnSliderWrapper + .toolsBtnWrapper {
    margin-top: 40px;
}

.toolsBtnWrapper {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.toolsBtnContainer + .toolsBtnContainer {
    margin-left: 40px;
    }
    
/* .toolsBtnWrapper:first-child {
    margin-left: 40px;
} */

.toolsBtnSliderWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4px;
}

.sliderContainer {
    position: relative;
    width: 300px;
    height: 30px;
    display: flex;
    align-items: center;
}

.kdDiffSliderContainer {
    text-align: center;
    width: 300px;
    position: relative;
}

.kdDiffSlider {
    position: relative;
}

.kdDiffSlider::after {
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    opacity: 0;
    z-index: -1; 
}

.kdDiffSlider::before {
    content: '';
    position: absolute;
    opacity: 0;
    z-index: 1; 

    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;

    border: 0px solid rgb(255, 0, 0);
}

.kdDiffSlider:hover::after {
    animation: fadeInUp 0.3s forwards;
}

.kdDiffSlider::after {
    animation: fadeOutDown 0.5s forwards;
}

.kdDiffSlider:hover::before {
    animation: borderFadeInUp 0.06s forwards;
}

.kdDiffSlider::before {
    animation: borderFadeOutDown 0.105s forwards;
}
/* TODO */
/* Custom slider */
/* input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 30px;
    background: linear-gradient(to right, #f0f0f0 50%, hsl(44, 90%, 70%) 50%);
    outline: none;
    border: 1px solid black;
    position: relative;
    z-index: 1;
    margin: 0;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2px;
    height: 30px;
    background-color: #333;
    cursor: pointer;
    position: relative;
    z-index: 2;
    border-radius: 0px;
}

input[type=range]::-moz-range-thumb {
    width: 3px;
    height: 30px;
    background-color: #333;
    cursor: pointer;
    border-radius: 0px;
} */

.sliderText {
    /* position: absolute; */
    top: 25px;
    right: 125px;
    z-index: 3;
    font-size: 16px;
    color: black;
    padding: 0 10px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 1;
}

.btnTrials, .btnCrucible {
    background-repeat: no-repeat;
    background-position: center;
    padding: 2px;
}

.btnTrials {
    background-image: url('src/img/emblem_osiris.png');
    background-size: 70px;
    background-color: #FFD45E;
}

.btnCrucible {
    background-image: url('src/img/emblem_crucible.png');
    background-size: 65px;
    background-color: #FF4646;
}

.btnTrials.checked {
    background-color: hsl(44, 90%, 70%);
}

.btnCrucible.checked {
    background-color: hsl(0, 100%, 70%);
}


.toolsBtn {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    background-color: #A5A5A5;
    cursor: pointer;
    position: relative;
}

.toolsBtn::after {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    opacity: 0;
    z-index: 1; 
    /* animation: toolsBtnFadeOutDown 0.2s forwards; */
}

.toolsBtn::before {
    content: '';
    position: absolute;
    opacity: 0;
    z-index: 1; 

    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    
    border: 0px solid rgb(255, 0, 0);
    /* animation: toolsBtnBorderFadeOutDown 0.205s forwards; */
}

.toolsBtn:hover::after {
    animation: toolsBtnFadeInUp 0.4s forwards;
}

.toolsBtn::after {
    animation: toolsBtnFadeOutDown 0.2s forwards;
}

.toolsBtn:hover::before {
    animation: toolsBtnBorderFadeInUp 0.06s forwards;
}

.toolsBtn::before {
    animation: toolsBtnBorderFadeOutDown 0.205s forwards;
}

@keyframes toolsBtnBorderFadeInUp {
    0% {
        opacity: 0;
        border: 0px solid white;
    }
    100% {
        border: 3px solid white;
        opacity: 1;
    }
}

@keyframes toolsBtnBorderFadeOutDown {
    0% {
        border: 3px solid white;
        opacity: 1;
    }
    100% {
        opacity: 0;
        border: 0px solid white;
    }
  }
    
@keyframes toolsBtnFadeInUp {
    0% {
        opacity: 0;
        border: 8px solid white;
        background-color: rgba(92, 92, 92, 0.25);
        /* transform: scale(1.05, 1.405); */
    }
    10% {
        opacity: 0.7;
        border: 4px solid white;
        /* background-color: rgba(255, 255, 255, 0.25); */
    }
    100% {
        border: 4px solid white;
        background-color: rgba(255, 255, 255, 0.25);
        opacity: 1;
        /* transform: scale(1.005, 1.05); */
    }
}

@keyframes toolsBtnFadeOutDown {
    0% {
        border: 4px solid white;
        background-color: rgba(255, 255, 255, 0.25);
        opacity: 1;
        /* transform: scale(1.0, 1.0); */
    }
    50% {
        opacity: 0.01;
        border: 5px solid white;
        background-color: rgba(255, 255, 255, 0.25);
        /* transform: scale(1.025, 1.205); */
    }
    100% {
        opacity: 0;
        border: 0px solid white;
        background-color: rgba(92, 92, 92, 0.25);
        transform: scale(0, 0);

    }
  }

.btnTrials, .btnCrucible {
    background-repeat: no-repeat;
    background-position: center;
    padding: 2px;
}

.btnTrials {
    background-image: url('emblem_osiris.png');
    background-size: 70px;
    background-color: #FFD45E;
}

.btnCrucible {
    background-image: url('emblem_crucible.png');
    background-size: 65px;
    background-color: #FF4646;
}

.btnTrials.checked {
    background-color: hsl(44, 90%, 70%);
}

.btnCrucible.checked {
    background-color: hsl(0, 100%, 70%);
}

.decContainerS {
    height: 3px;    
}

.decContainerB {
    height: 21px;    
}

.decColorAlphaS {
    background-color: #8CB88E;
}
.decColorAlphaB {
    background-color: #11223E;
}
.decColorBravoS {
    background-color: #2F2F39;
}
.decColorBravoB {
    background-color: #C94B22;
}

/*  */
@keyframes BorderTopFadeInUp {
    0% {
        opacity: 1;
        border-top: 0px solid rgba(255, 255, 255, 0.5);
        z-index: 0;
    }
    10% {
        z-index: 100;
    }
    100% {
        border-top: 0px solid rgba(255, 255, 255, 0.5);
        /* border-top: 42px solid rgba(255, 255, 255, 0.5); */
        opacity: 1;
        z-index: 100;
    }
}

@keyframes BorderTopFadeOutDown {
    0% {
        opacity: 1;
        /* border-top: 42px solid rgba(255, 255, 255, 0.5); */
        border-top: 0px solid rgba(255, 255, 255, 0.5);
        z-index: 100;
    }
    100% {
        border-top: 0px solid rgba(255, 255, 255, 0.5);
        opacity: 1;
        z-index: 0;
    }
}

@keyframes BorderFadeInUp {
    0% {
        opacity: 0;
        border: 0px solid white;
    }
    100% {
        border: 2px solid white;
        opacity: 1;
    }
}

@keyframes BorderFadeOutDown {
    0% {
        border: 2px solid white;
        opacity: 1;
    }
    100% {
        opacity: 0;
        border: 0px solid white;
    }
  }
    
@keyframes fadeInUp {
    0% {
        opacity: 0;
        border: 8px solid white;
        background-color: rgba(92, 92, 92, 0.25);
        transform: scale(1.05, 1.405);
    }
    50% {
        opacity: 0.2;
        border: 5px solid white;
        background-color: rgba(255, 255, 255, 0.25);
    }
    100% {
        border: 4px solid white;
        background-color: rgba(255, 255, 255, 0.25);
        opacity: 1;
        transform: scale(1.005, 1.05);
    }
}

@keyframes fadeOutDown {
    0% {
        border: 4px solid white;
        background-color: rgba(255, 255, 255, 0.25);
        opacity: 1;
        transform: scale(1.0, 1.0);
    }
    50% {
        opacity: 0.01;
        border: 5px solid white;
        background-color: rgba(255, 255, 255, 0.25);
        transform: scale(1.025, 1.205);
    }
    100% {
        opacity: 0;
        border: 0px solid white;
        background-color: rgba(92, 92, 92, 0.25);
        transform: scale(0, 0);

    }
  }

/*  */